.left-side {
    width: 40%;
}

.right-side {
    border-left: 2px solid #a5a3a3;
}
.section-title {
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
}

.section-padding {
    padding: 20px 0 20px 20px;
}

.topics-cell, .stop-words-cell {
    border-bottom: 2px solid #a5a3a3
}

mat-slider {
    width: 300px;
}

.slide-val {
    font-size: 18px;
    font-weight: bold;
}

.default-button {
    margin: 0 10px;
}

.stop-words-input {
    min-width: 607px;
    min-height: 203px;
    margin-top: 10px;
}

.reset-all-cell, .execute-cell {
    width: 50%;
}

.execute-cell {
    border-left: 2px solid #a5a3a3;
    padding-left: 20px;
}

.reset-label {
    font-size: 16px;
}

.stop-words-reset-well {
    padding-left: 15%;
    margin-top: 5px;
}