.toolbar-icon {
    vertical-align: text-bottom;
    margin-right: 2px;
}

.app-title {
    background-color: #2196f3;
    margin-right: 14px;
    padding: 16px 8px;
    border-radius: 15px;
    vertical-align: middle;
    
}


.toolbar-button:hover {
    background-color: #1358bf;
}

.main-container {
    margin: auto;
    width: 80%;
    background-color: white;
    min-height: 850px;
}