<div>
    <table mat-table [dataSource]="learningObjs" class="mat-elevation-z8">
        <!-- Title Column-->
        <ng-container matColumnDef="title">
            <th mat-header *matHeaderCellDef class="title-col"> Title </th>
            <td mat-cell class="data-cell" *matCellDef="let lo"> {{lo.name}} </td>
        </ng-container>

        <!-- Description Column-->
        <ng-container matColumnDef="description">
            <th mat-header *matHeaderCellDef class="description-col"> Description </th>
            <td mat-cell class="data-cell" *matCellDef="let lo"> {{lo.description}} </td>
        </ng-container>

        <!-- Secondary Topic Column-->
        <ng-container matColumnDef="secondary_topic">
            <th mat-header *matHeaderCellDef class="secondary-topic-col"> Secondary Topic </th>
            <td mat-cell class="data-cell" *matCellDef="let lo"> {{topicsMap.get(lo.secondary_topic_num)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
