/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #a7a8ab;
}

.page-title {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 36px;
    box-shadow: 0 8px 6px #a5a3a3;
    margin-bottom: 15px;
    font-style: italic;
    font-weight: bold;
}

.table {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.mat-figure {
    padding: 0 10px !important;
}